body {
  font-family: Verdana, Tahoma, sans-serif;

  footer {
    font-size:12px;
    text-align: center;
  }

  .page_container {
    width:100%;
    margin:0 auto;
    text-align:center;

    .container {
      width:1000px;
      margin: 0 auto;
    }
  }
}